:root {
  --header-background-color: #6791ce;
  --button-background-color: #5879c7;
  --body-background-color: #9ccef4;
  --primary-color: #030348;
  --secondary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "raleway";
  font-size: 18px;
}

.header {
  background-color: var(--header-background-color);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header input {
  border: none;
  border-color: #777;
  margin-right: 20px;
  padding: 15px;
  background-color: transparent;
  color: #fff;
}

.header input:focus {
  border-bottom: 1px solid #777;
}

.header input::placeholder {
  color: var(--secondary-color);
}

.header button {
  color: var(--primary-color);
  background-color: var(--button-background-color);
  border: none;
  padding: 15px;
  cursor: pointer;
}
